.login {
  background-color: var(--color-white);
}

.form-container {
  padding-inline: 8px;
}

.submit::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.089);
  top: 0;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  left: -45px;
  animation: leftToRight 700ms infinite;
  -webkit-animation: leftToRight 700ms infinite;
  animation-delay: 1s;
}

.submit:hover::after {
  animation: unset;
  -webkit-animation: unset;
}

@keyframes leftToRight {
  from {
    left: -45px;
  }
  to {
    left: 100%;
  }
}

@media (min-width: 640px) {
  .login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 768px) {
  .login {
    padding: 0.75rem;
  }
}

@media (min-width: 425px) {
  .form-container {
    padding-inline: 16px;
  }
}

@media (min-width: 768px) {
  .form-container {
    padding-inline: 24px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    padding-inline: 64px;
  }
}
