@reference "tailwindcss";

.nav-item > a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  color: var(--color-stone-500);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  z-index: 1;
  position: relative;

  @apply dark:text-stone-400;
}

.nav-item > a:hover {
  gap: 2.5rem;
  color: var(--color-cyan-500);
}

.nav-item > a::after {
  position: absolute;
  inset: 0;
  content: "";
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: -1;
  width: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav-item > a:hover::after {
  width: 100%;
}

.nav-item > a.active {
  color: var(--color-white);
  background-color: var(--color-cyan-500);
}

.nav-item > a.active::after {
  all: unset;
}
