@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("/app/fonts/Inter.ttf");
}

@font-face {
  font-family: Playfair;
  src: url("/app/fonts/Playfair.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

button {
  cursor: pointer;
}

@custom-variant dark (&:where(.dark, .dark *));
