@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("/app/fonts/Inter.ttf");
}

@font-face {
  font-family: Playfair;
  src: url("/app/fonts/Playfair.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: Inter;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@layer components {
  .input {
    @apply w-full rounded-lg border border-neutral-200 bg-white p-2 text-xs text-neutral-900 ring-4 ring-white transition duration-350 outline-none focus:border-blue-400 focus:ring-blue-200 md:p-3.5 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-200 dark:ring-neutral-900 dark:placeholder:text-neutral-700 dark:focus:border-blue-700 dark:focus:ring-blue-950;
  }

  .table-cell-classes {
    @apply border-b !text-neutral-900 dark:!border-b-neutral-800 dark:!text-neutral-100;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply w-2.5;
  }

  .custom-scroll::-webkit-scrollbar-track {
    @apply rounded-md bg-neutral-100 dark:bg-neutral-800;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-neutral-300 dark:bg-neutral-700;
  }

  .custom-scroll-dark::-webkit-scrollbar {
    @apply w-2.5;
  }

  .custom-scroll-dark::-webkit-scrollbar-track {
    @apply rounded-md bg-neutral-100 dark:bg-neutral-800;
  }

  .custom-scroll-dark::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-neutral-300 dark:bg-neutral-700;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
